[Unit]
Description=RPiLight
After=network.target

[Service]
ExecStart=/opt/rpilight/rpilight
WorkingDirectory=/opt/rpilight/
StandardOutput=journal
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
