Package: rpilight
Version: ${version}
Architecture: ${arch}
Maintainer: Kaiede <user@biticus.net>
Section: misc
Priority: optional
Homepage: https://www.github.com/Kaiede/RPiLight
Description: Aquarium Light Controller for Raspberry Pi