Package: rpilight${package_arch}
Version: ${version}
Architecture: ${arch}
Maintainer: Kaiede <user@biticus.net>
Depends: ${swift_package} (>= ${swift_version})
Section: misc
Priority: optional
Homepage: https://www.github.com/Kaiede/RPiLight
Description: Aquarium Light Controller for Raspberry Pi