Source: rpilight
Maintainer: Kaiede <user@biticus.net>

Package: rpilight
Architecture: ${build:Architecture}
Version: ${build:Version}
Depends: ${shlibs:Depends}
Section: misc
Priority: optional
Homepage: https://www.github.com/Kaiede/RPiLight
Description: Aquarium Light Controller for Raspberry Pi